@import carousel

html
    height: 100%
    background: #1b2735

.content
    position: relative
    z-index: 100
    margin: 5%

.upper-content
    position: absolute
    margin: 25%
    width: 50%
    height: 40vw
    text-align: center
    overflow-y: scroll

.bottom-content
    background: #ff4141
    padding-left: 10%
    padding-right: 10%
    padding-bottom: 4vw

.bag
    width: 100%
    display: block

.u-text
    font-family: Nunito, sans-serif
